<div class="courseCard">
    <div class="courseCard__hero" style="background: url('/uploads/{{#if this.image}}{{this.image}}{{else}}review.jpg{{/if}}') center/cover no-repeat;">
        <h2 class="title">
            <a href="/course/{{this.slug}}">{{this.course}}</a>
        </h2>
        <h3 class="instructor">
            <span>{{this.instructor}}</span>
        </h3>
        <a href="/course/{{this.slug}}" class="shade"></a>
    </div>
    <div class="courseCard__details">
        <p class="desc">{{this.description}}<p>
        <div class="courseCard__action">
            <div class="courseCard__action--edit">
                {{#if @root.user}}
                    {{#if (equals (getString this.author) (getString @root.user._id))}}
                        <a href="/courses/{{this._id}}/edit" title="edit">
                            {{{getIcon 'edit'}}}
                        </a>
                    {{/if}}
                {{/if}}
            </div>
            {{#if this.reviews}}
                <div class="courseCard__reviews" title="{{this.reviews.length}} comments">
                    <a href="/course/{{this.slug}}">
                        {{{getIcon 'comments'}}}
                        {{#if this.reviews.length}}
                            <span class="count">{{this.reviews.length}}</span>
                        {{/if}}
                    </a>
                </div>
            {{/if}}
            <div class="courseCard__action--like">
                {{#if @root.user}}
                    <form action="/api/courses/{{this._id}}/like" class="like">
                        <button class="like__button {{#if (includes @root.user.likes (getString this._id))}}isLiked{{/if}}" type="submit" name="like" title="Like">
                            {{{getIcon 'like'}}}
                        </button>
                    </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>