<div class="pagination">
    <div class="pagination__prev {{#if (compare @root.page 1)}}is-active{{/if}}">
        <a href="/courses/page/{{addNumber @root.page -1}}">Prev</a>
    </div>
    <div class="pagination__text">
        <p>Page {{@root.page}} of {{@root.pages}}</p>
    </div>
    <div class="pagination__next {{#if (compare @root.pages @root.page)}}is-active{{/if}}">
        <a href="/courses/page/{{addNumber @root.page 1}}">Next</a>
    </div>
</div>
<div class="pagination--footer m-t10">
    <p>{{@root.count}} total results</p>
</div>