<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/dist/style.css">
    <title>{{title}} | {{h.siteName}}</title>
</head>
<body>
    <aside id="nav" class="nav">
        <button id="hamburger" class="nav__hamburger">
            <span class="open">
                <span class="dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </span>
            </span>
            <span class="close">
                <span class="icon-container">
                    {{{getIcon 'close'}}}
                </span>
            </span>
        </button>
        <div class="nav__wrapper">
            <div class="nav__wrapper__top">
                <div class="logo">
                    <a href="/" title="go to homepage">
                        <img src="/images/logo.svg" alt="JavaScript Best online JavaScript course reviews" class="jsb-logo">
                    </a>
                </div>
                <ul>
                    <li class="category">Account</li>
                    {{#if user}}
                        <li>
                            <a href="/likes" class="{{addActiveByCurrentPath currentPath '/likes'}}">
                                Like <span class="likes-count">
                                    {{#if user.likes}}
                                        {{user.likes.length}}
                                    {{/if}}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="{{addActiveByCurrentPath currentPath '/logout'}}">Logout</a>
                        </li>
                        <li class="thumbnail">
                            <a href="/account" class="{{addActiveByCurrentPath currentPath '/account'}} avatar">
                                <img src={{user.gravatar}} alt={{user.name}}>
                            </a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/signup" class="{{addActiveByCurrentPath currentPath '/signup'}}">Signup</a>
                        </li>
                        <li>
                            <a href="/login" class="{{addActiveByCurrentPath currentPath '/login'}}">Login</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
            <div class="nav__wrapper__main">
                <ul>
                    <li class="category">Discover</li>
                    <li>
                        <a href="/courses" class="{{addActiveByCurrentPath currentPath '/courses'}}">Reviews</a>
                    </li>
                    <li>
                        <a href="/tags" class="{{addActiveByCurrentPath currentPath '/tags'}}">Tags</a>
                    </li>
                    <li>
                        <a href="/popular" class="{{addActiveByCurrentPath currentPath '/popular'}}">Popular</a>
                    </li>
                    <li>
                        <a href="/add" class="{{addActiveByCurrentPath currentPath '/add'}}">Add</a>
                    </li>
                    <li>
                        <a href="/contact" class="{{addActiveByCurrentPath currentPath '/contact'}}">Contact</a>
                    </li>
                    <li>
                        <button id="searchButton" class="search-button">Search</button>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <div class="content {{addActiveByCurrentPath currentPath '/'}}">
        {{{ body }}}
    </div>

    <div class="container">
        <div class="flash-messages">
            {{#each flashes}}
                <div id="flashMsg" class="flash flash--{{@key}}">
                    <button class="flash__remove" onclick="this.parentElement.remove()">&times;</button>
                    <p class="flash__text">{{this}}</p>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="content">
        <div class="backdrop" id="backdrop">
            <div class="search-container">
                <div class="search">
                    <input type="text" id="searchInput" class="search-input" placeholder="Search courses.." name="search">
                    <div class="search-results"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/dist/app.bundle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49713403-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-49713403-10');
    </script>
</body>
</html>