<div class="course">
    <div class="course__hero" style="background: url('/uploads/{{#if course.image}}{{course.image}}{{else}}review.jpg{{/if}}') center/cover no-repeat">
        <h2 class="title">
            <a href="/course/{{course.slug}}">
                {{course.course}}
            </a>
        </h2>
        <h3 class="instructor">
            By {{course.instructor}}
        </h3>
    </div>
    <div class="course__description">
        <p class="description">
            {{course.description}}
        </p>
        <div class="rating">
            <div class="stars" title="Rated {{course.rating}} out of five stars">
                {{repeat "★" course.rating false}}{{repeat "☆" course.rating 5}}
            </div>
        </div>
        {{#if course.tags}}
            <ul class="tags">
                {{#each course.tags}}
                    <li class="tag">
                        <a href="/tags/{{this}}" class="tag__link">#{{this}}</a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
    <a href="{{course.url}}" target="_blank" title="Visit {{course.course}}" class="course__url">Visit this course</a>

    {{#if @root.user}}
        {{>reviewForm course}}
    {{/if}}

    {{#if course.reviews}}
        <div class="reviews">
            {{#each course.reviews}}
                <div class="eachReview">
                    {{>review this}}
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#unless @root.user}}
        <div class="wanna">
            <p>Have something to say?</p>
            <a href="/login">Log in</a>
            <span> or</span>
            <a href="/signup">Sign up</a>
            <span> today!</span>
        </div>
    {{/unless}}
</div>