extends layout

include mixins/_reviewForm

block content
    pre=h.dump(course)
    .course
        .course__hero
            img.hero(src=`/uploads/${course.image || 'course.jpg'}`)
            .course__heading
                h2.title
                    a(href=`/course/${course.slug}`) #{course.course}
                h3.instructor By #{course.instructor}
        .course__description
            p.description= course.description

            if course.tags
                ul.tags
                    each tag in course.tags
                        li.tag
                            a.tag__link(href=`/tags/${tag}`) ##{tag}

            a.course__url(href=`${course.url}` target="_blank" title=`Visit ${course.course}`) Visit this course

            if user
                +reviewForm(course)

            if course.reviews
                .reviews
                    each review in course.reviews
                        .review
                            p= review.text
