extends layout

include mixins/_reviewForm
include mixins/_review

block content
    .course
        .course__hero(style=`background: url('/uploads/${course.image || 'review.jpg'}') center/cover no-repeat`)
            h2.title
                a(href=`/course/${course.slug}`) #{course.course}
            h3.instructor By #{course.instructor}

        .course__description
            p.description= course.description

            .rating
                .stars(title=`Rated ${course.rating} out of five stars`)
                    = `★`.repeat(course.rating)
                    = `☆`.repeat(5 - course.rating)

            if course.tags
                ul.tags
                    each tag in course.tags
                        li.tag
                            a.tag__link(href=`/tags/${tag}`) ##{tag}

        a.course__url(href=`${course.url}` target="_blank" title=`Visit ${course.course}`) Visit this course

        if user
            +reviewForm(course)

        if course.reviews
            .reviews
                each re in course.reviews
                    .eachReview
                        +review(re)

        if !user
            .wanna
                p Have something to say?
                a(href="/login")  Log in
                span  or
                a(href="/signup")  Sign up
                span  today!
