<div class="course">
    <div class="course__hero" style="background: url('/uploads/{{#if course.image}}{{course.image}}{{else}}review.jpg{{/if}}') center/cover no-repeat">
        <h2 class="title">
            <a href="/course/{{course.slug}}">
                {{course.course}}
            </a>
        </h2>
        <h3 class="instructor">
            By {{course.instructor}}
        </h3>
    </div>
    <div class="course__description">
        <p class="description">
            {{course.description}}
        </p>
        <div class="rating">
            <div class="stars" title="Rated {{course.rating}} out of five stars">
                {{repeat "★" course.rating false}}{{repeat "☆" course.rating 5}}
            </div>
        </div>
    </div>
</div>