doctype html
html
    head
        title= `${title} | ${h.siteName}`
        link(rel='stylesheet', href='/dist/style.css')
        link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi")
    body
        block nav
            aside.nav#nav
                button.nav__hamburger#hamburger
                    span.open
                        //- != h.icon('menu')
                    span.close
                        != h.icon('close')
                .nav__wrapper
                    .nav__wrapper__top
                        .logo
                            h1 Frontend Tutorials Review
                        ul
                            if user
                                li
                                    a(href="/likes" class=currentPath.startsWith('/likes') ? 'nav__active' : '') Like
                                       span.likes-count #{user.likes && user.likes.length}
                                li
                                    a(href="/logout" class=currentPath.startsWith('/logout') ? 'nav__active' : '') Logout
                                li
                                    a.avatar(href="/account" class=currentPath.startsWith('/account') ? 'nav__active' : '')
                                        img(src=user.gravatar)
                            else
                                li
                                    a(href="/signup" class=currentPath.startsWith('/signup') ? 'nav__active' : '') Signup
                                li
                                    a(href="/login" class=currentPath.startsWith('/login') ? 'nav__active' : '') Login
                    .nav__wrapper__main
                        ul
                            li
                                a(href="/courses" class=currentPath.startsWith('/courses') ? 'nav__active' : '') All Reviews
                            li
                                a(href="/tags" class=currentPath.startsWith('/tags') ? 'nav__active' : '') Tags
                            li
                                a(href="/popular" class=currentPath.startsWith('/popular') ? 'nav__active' : '') Popular
                            li
                                a(href="/add" class=currentPath.startsWith('/add') ? 'nav__active' : '') Write a Review
                            li
                                a(href="/contact" class=currentPath.startsWith('/contact') ? 'nav__active' : '') Contact
                            li
                                button(id="searchButton") Search
        block messages
            if locals.flashes
                .container
                    .flash-messages
                        - const categories = Object.keys(locals.flashes)
                        each category in categories
                            each message in flashes[category]
                                .flash(class=`flash--${category}` id="flashMsg")
                                    button.flash__remove(onClick="this.parentElement.remove()") &times;
                                    p.flash__text!= message
        .content
            .backdrop#backdrop
            .search-container
                .search
                    input.search-input(type="text" id="searchInput" placeholder="Search courses.." name="search")
                    .search-results
            block content


        block scripts
            script(src="/dist/App.bundle.js")