doctype html
html
    head
        title= `${title} | ${h.siteName}`
        link(rel='stylesheet', href='/dist/style.css')
        link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        block nav
            aside.nav#nav
                .nav__top
                    button.nav__top__button#hamburger
                        span.hamburger
                            != h.icon('menu')
                        span.close
                            != h.icon('close')
                    .nav__top__logo
                        h1 Frontend Masters Review
                    ul.nav__top__links
                        if user
                            li
                                a(href="/likes" class=currentPath.startsWith('/likes')? 'nav__active':'') Likes
                            li
                                a(href="/logout" class=currentPath.startsWith('/logout')? 'nav__active':'') Logout
                            li
                                a(href="/account" class=currentPath.startsWith('/account')? 'nav__active':'' class="avatar")
                                    img(src=user.gravatar)
                        else
                            li
                                a(href="/signup" class=currentPath.startsWith('/signup')? 'nav__active':'') Signup
                            li
                                a(href="/login" class=currentPath.startsWith('/login')? 'nav__active':'') Login
                .nav__main
                    ul.nav__main__links
                        li
                            a(href="/reviews" class=currentPath.startsWith('/reviews')? 'nav__active':'') Reviews
                        li
                            a(href="/tags" class=currentPath.startsWith('/tags')? 'nav__active':'') Tags
                        li
                            a(href="/popular" class=currentPath.startsWith('/popular')? 'nav__active':'') Popular
                        li
                            a(href="/add" class=currentPath.startsWith('/add')? 'nav__active':'') Add Review
                        li
                            button(id="searchButton") Search Review
        block messages
            if locals.flashes
                .container
                    .flash-messages
                        - const categories = Object.keys(locals.flashes)
                        each category in categories
                            each message in flashes[category]
                                .flash(class=`flash--${category}`)
                                    button.flash__remove(onClick="this.parentElement.remove()") &times;
                                    p.flash__text!= message
        .content
            .backdrop#backdrop
            .search-container
                .search
                    input.search-input(type="text" id="searchInput" placeholder="Search reviews.." name="search")
                    .search-results
            block content


        block scripts
            script(src="/dist/App.bundle.js")