extends layout

block content
    .popular.contents-center
        h2.pageTitle #{courses.length} Popular Courses
        if courses.length
            table.table
                tr
                    th #
                    th.photo Photo
                    th Course
                    th Reviews
                    th Average Rating
                each course, i in courses
                    tr
                        td #{ i + 1 }
                        td.photo
                            a(href=`/course/${course.slug}` style=`background: url(/uploads/${course.image}) center/cover no-repeat;`)
                        td
                            a(href=`/course/${course.slug}`)
                                = course.course
                        td= course.reviewsForPopularPage.length
                        td= Math.round((course.averageRating) * 10) / 10