extends layout

block content
    .single
        .single__hero
            img.hero(src=`/uploads/${review.image || 'review.jpg'}`)
            .single__heading
                h2.title
                    a(href=`/review/${review.slug}`) #{review.course}
                h3.instructor By #{review.instructor}
        .single__description
            p.description= review.description

            if review.tags
                ul.tags
                    each tag in review.tags
                        li.tag
                            a.tag__link(href=`/tags/${tag}`) ##{tag}

            a.single__url(href=`${review.url}` target="_blank" title=`Visit ${review.course}`) Visit this course
