extends layout

block content
    .single
        .single__hero
            img.hero(src=`/uploads/${course.image || 'course.jpg'}`)
            .single__heading
                h2.title
                    a(href=`/course/${course.slug}`) #{course.course}
                h3.instructor By #{course.instructor}
        .single__description
            p.description= course.description

            if course.tags
                ul.tags
                    each tag in course.tags
                        li.tag
                            a.tag__link(href=`/tags/${tag}`) ##{tag}

            a.single__url(href=`${course.url}` target="_blank" title=`Visit ${course.course}`) Visit this course
