<div class="container tagsPage">
    <h2 class="pageTitle">{{title}}{{#if tag}}: {{tag}}{{/if}}</h2>
    <ul class="tags">
        {{#each tags}}
            <li class="tag">
                <a href="/tags/{{this._id}}" class="tag__link {{addActiveByCurrentPath this._id @root.tag}}">
                    <span class="name">{{this._id}}</span><span class="count">{{this.count}}</span>
                </a>
            </li>
        {{/each}}
    </ul>
    <div class="courses">
        {{#each courses}}
            {{>courseCard}}
        {{/each}}
    </div>
</div>