mixin courseForm(course = {})
    form(action=`/add/${course._id || ''}` method="POST" class="card" enctype="multipart/form-data")
        label(for="course") Course
        input.required(type="text" name="course" value=course.course required)
        label(for="instructor") Instructor
        input.required(type="text" name="instructor" value=course.instructor required)
        label(for="url") URL
        input.required(type="url" name="url" value=course.url required)
        //- Image upload
        label Image
        label(for="image") Choose Upload Image
        input(type="file" id="image" name="image" accept="image/gif, image/png, image/jpeg")
        if course.image
            img.preview(src=`/uploads/${course.image}` alt=course.course width=200)
        - const choices = ['JavaScript', 'Node', 'React', 'Vue', 'Angular', 'Webpack', 'Database', 'CSS', 'Design', 'Typographie', 'Bash']
        - const tags = course.tags || []
        label(for="description") Description
        textarea.required(name="description" required)= course.description
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
                    label.no-letter-spacing(for=choice) #{choice}
        input.button.m-t30(type="submit" value="send")