mixin courseCard(course = {})
    .courseCard
        .courseCard__hero(style=`background: url('/uploads/${course.image || "review.jpg"}') center/cover no-repeat;`)
        .courseCard__details
            h2.title
                a(href=`/course/${course.slug}`) #{course.course}
            p.desc= course.description.split(' ').slice(0, 20).join(' ')
            .courseCard__action
                .courseCard__action--edit
                    if user && course.author.equals(user._id)
                        a(href=`/courses/${course._id}/edit` title="Edit")
                            != h.icon('edit')
                .courseCard__reviews(title=`${course.reviews.length} comments`)
                    if course.reviews
                        != h.icon('comments')
                        span.count= course.reviews.length
                .courseCard__action--like
                    if user
                        form.like(method="POST" action=`/api/courses/${course._id}/like`)
                            - const likeStrings = user.likes.map(obj => obj.toString())
                            - const likeClass = likeStrings.includes(course._id.toString()) ? 'isLiked' : ''
                            button.like__button(type="submit" name="like" class=likeClass title="Like")
                                != h.icon('like')