mixin pagination(page, pages, count)
    .pagination
        .pagination__prev(class=/page([2-9]$|[1-9][0-9])/.test(currentPath) ? 'active' : '')
            a(href=`/courses/page${Number(page) - 1}`) Prev
        .pagination__text
            p Page #{page} / #{pages}
        .pagination__next(class=currentPath.endsWith(pages) ? '' : 'active')
            a(href=`/courses/page${Number(page) + 1}`) Next
    .pagination--footer.m-t10
        p #{count} total results