mixin review(re)
    .review__author
        img.avatar(src=re.author.gravatar)
        p= re.author.name
    .review__rating(title=`Rated ${re.rating} out of five stars`)
        = `★`.repeat(re.rating)
        = `☆`.repeat(5 - re.rating)
    time.review_time(datetime=re.created)
        = h.moment(re.created).fromNow()
    p= re.text