mixin reviewForm(course)
    form.reviewer(action=`/reviews/${course._id}` method="POST")
        textarea.reviewer__text(name="text" placeholder="Leave a review...")
        .reviewer__meta
            .reviewer__stars
                each number in [5, 4, 3, 2, 1]
                    input(type="radio" id=`star${number}` name="rating" value=number required)
                    label(for=`star${number}`) #{number} Stars
            input.button(type="submit" value="Submit Review")